// base colors
$dark-blue: #0f204b;
$grey: #8792a2;
$placeholder-grey: #697386;
$bg-grey: #f2f2f2;
$white: #ffffff;
$teal: #9bdaf0;
$green: #219653;
$green-3: #6fcf97;
$yellow: #f2c94c;
$red: #eb5757;

// traffic light
$good: $green-3;
$yellow: $yellow;
$danger: $red;
