@mixin remove-input-style {
  input {
    padding: unset;
    border: unset;
    background-color: unset;

    &:focus-visible {
      outline: unset;
    }
  }
}

@mixin scroll-bar($color: rgb(0, 0, 0)) {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba($color, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($color, 0.5);
    border-radius: 100px;
  }
}

@mixin without-text-mark {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@mixin withResponsiveHeightToWidthScale($relativeHeight: 100%) {
  position: relative;
  &::before {
    content: '';
    display: block;
    padding-bottom: $relativeHeight;
  }

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
