@import 'src/styles/colors';
@import 'src/styles/variables';

.gmod-view-node-container {
  position: relative;

  .gmod-badge {
    cursor: default;
    margin-right: 0.4em;

    .badge-item {
      border: 1px solid black;
      padding: 0.05em 0.4em;

      &:first-child {
        border-bottom-left-radius: 0.5em;
        border-top-left-radius: 0.5em;
      }

      &:last-child {
        border-bottom-right-radius: 0.5em;
        border-top-right-radius: 0.5em;
      }

      &:not(:last-child) {
        border-right: 1px solid black;
      }
    }
  }

  .expand-data-channel-icon {
    margin-right: 0.2em;
    color: $blue;

    @include without-text-mark;

    &:focus {
      outline: none;
    }
  }

  .data-channels-container {
    overflow-y: hidden;

    .data-channels {
      padding-bottom: 0.1em;
      animation: slidein 0.2s ease;

      .data-channel-card-wrapper {
        position: relative;
      }
    }

    @keyframes slidein {
      from {
        transform: translateY(-120%);
      }

      to {
        transform: translateY(0%);
      }
    }
  }
}
