@import 'src/styles/colors';
@import 'src/styles/global';

.experiments-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3em;

  & > :first-child {
    flex: 1;
  }

  .time-pickers {
    font-size: 0.75em;
  }
}

.experiments-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
  gap: 1em;

  padding: 0.6em 0;
}
