@import 'src/styles/global';
@import 'src/styles/colors';

.data-channel-card {
  margin: 0.5em 0em 0em 1em;
  padding: 1em;
  box-shadow: $drop-shadow;
  border-radius: 0.4em;
  background-color: $white;

  display: flex;
  flex-direction: column;
  flex-basis: content;
  gap: 0.5em;

  .channel-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .status-n-data {
      display: flex;
      align-content: center;
      gap: 0.3em;

      .timeseries-data {
        font-size: 0.8em;
      }
    }
  }

  .local-id-item {
    display: flex;
    align-items: center;
    gap: 0.8em;

    :first-child {
      flex: 0.2;
      color: $grey;
      word-break: break-all;
    }
    :last-child {
      flex: 0.7;
      overflow-wrap: break-word;
    }
  }
}

.context-tooltip {
  max-width: 10em;
  display: flex;
  flex-direction: column;
}
