@import 'src/styles/global';
@import 'src/styles/colors';

.data-channel-card {
  position: relative;
  padding: 1em;
  box-shadow: $drop-shadow;
  border: $drop-shadow-border;
  border-radius: 0.4em;
  background-color: $white;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8em;
  padding-bottom: 0.55em;
  gap: 1em;
  font-size: 0.95em;
  width: 100%;

  &:hover {
    background-color: $bg-grey;
  }

  .tags {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5em;
  }

  svg {
      color: rgb(78, 78, 78);
  }

  .data-channel-card-c-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.1em;
  }

  .data-channel-card-c-title {
      display: flex;
      align-items: center;
  }

  .data-channel-card-c-title-tiny {
      display: flex;
      // left: 0.6em;
      font-size: 0.75em;
      color: #999;
  }

  .data-channel-card-c-value {
      display: flex;
      margin-left: auto;
      font-size: 0.75em;
      font-weight: bold;
  }

  .separator {
      font-size: 1em;
      // color: #999;
      font-weight: bold;
      // padding-left: 0.25em;
      padding-right: 0.25em;
  }

  .name {
      color: #999;
  }
}

.context-tooltip {
  max-width: 10em;
  display: flex;
  flex-direction: column;
}
