@import 'src/styles/colors';
@import 'src/styles/global';

.ui-button {
  background-color: inherit;
  color: inherit;

  cursor: pointer;

  font-size: 1em;
  padding: 0.4em 0.8em;
  border-radius: 0.3em;
  box-shadow: $drop-shadow;
  border: $drop-shadow-border;

  &:hover {
    opacity: 0.9;
  }

  &.primary {
    background-color: $primary;
    color: $white;
  }

  &.success {
    background-color: $success;
    color: $white;
  }

  &.warning {
    background-color: $warning;
    color: $white;
  }

  &.danger {
    background-color: $danger;
    color: $white;
  }

  &.subtle {
    background-color: $subtle;
    color: $dark-blue;
  }

  &.ui-button-with-icon {
    display: flex;
    align-items: center;

    gap: 0.5em;

    * > :last-child {
      flex: 1;
    }
  }

  &:disabled {
    pointer-events: none;
    background-color: $bg-grey;
    color: $grey;
  }
}
