@import 'src/styles/global';
@import 'src/styles/colors';

// Card
.experiment-card {
  position: relative;
  box-shadow: $drop-shadow;
  border-radius: 0.2em;
  height: fit-content;

  background-color: white;

  .experiment-header {
    border-radius: 0.2em 0.2em 0 0;
    padding: 0.4em 0;
    cursor: pointer;
    background-color: $placeholder-grey;

    display: flex;
    gap: 0.3em;
    align-items: center;
    justify-content: center;

    .experiment-dropdown-icon {
      font-size: 0.7em;
    }
  }

  .experiment-content-wrapper {
    position: relative;
    &::before {
      content: '';
      display: block;
      padding-bottom: 55%;
    }

    .experiment-content {
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .empty-subtitle {
        margin: 0.5em;
      }

      iframe {
        pointer-events: none;
        width: 100%;
        height: 100%;
      }
    }
  }
}

// Experiment dropdown
.experiment-card-dropdown {
  transform: translate(-50%);

  .experiment-dropdown-item {
    padding: 0.7em 1.5em;

    cursor: pointer;

    &:hover {
      background-color: $grey;
    }
  }

  & > :first-child {
    padding-top: 0.5em;
  }
  & > :last-child {
    padding-bottom: 0.5em;
  }
}

// Modal
.modal-experiment-card-input {
  margin: 0.5em 0;
}
.modal-content-wrapper {
  margin: 2em 0;
}
.modal-submit-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 0.4em;

  .modal-submit-button {
    cursor: pointer;
    padding: 0.4em 0.8em;
    border-radius: 0.15em;
    border: $drop-shadow-border;
    color: $white;

    &.cancel {
      background: $grey;
    }

    &.submit {
      background: $red;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
