@import 'src/styles/colors';
@import 'src/styles/variables';

.tree-node-container {
  @for $i from 0 through 50 {
    .tree-depth-#{$i} {
      margin-left: 25px;
    }
  }

  .tree-view-node {
    display: flex;
    align-items: center;
    padding: 0.4em 0.5em;

    &:hover {
      background-color: $bg-grey;
    }
    .tree-view-node-expander {
      align-self: baseline;
      color: $blue;
      cursor: pointer;
      padding-right: 0.3em;

      @include without-text-mark;

      &.no-children {
        display: none;
      }
    }

    .tree-view-node-value {
      flex: 1;
    }
  }
}
