@import 'src/styles/colors';

.current-position-control {
  .position-icon-anchor {
    display: flex;
    align-content: center;
    font-size: 0.9em;

    .position-icon {
      margin: auto;
      color: $grey;

      &.active {
        color: inherit;
      }
    }
  }
}
