@import 'src/styles/global';
@import 'src/styles/colors';
@import 'src/styles/variables';

.query-card {
  .query-card-header {
    padding: 0.1em 0.5em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    border-radius: 0.1em;

    background-color: $placeholder-grey;
    color: $bg-grey;

    .query-card-collapser {
      @include without-text-mark;
      width: 0.8em;
      font-size: 0.8em;
      height: 0.8em;
      cursor: pointer;
    }

    .query-card-title {
      color: $bg-grey;
      background-color: inherit;
      border: unset;
      box-shadow: unset;
      font-weight: 600;
    }

    .query-card-action-buttons {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      font-size: 0.7em;
      gap: 1em;

      color: $bg-grey;

      .excluded {
        opacity: 0.4;
      }
    }
  }

  .query-generation-container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.3em;

    .query-generation-selected-item {
      display: flex;
      width: 100%;
      overflow: hidden;
      align-items: center;
      font-size: 0.95em;
      gap: 0.75em;

      &>svg {
        margin-left: auto;
        color: red;
      }
    }

    .query-generation-selector {
      display: flex;
      gap: 0.3em;
    }

    .query-generation-param {
      flex: 0.9;
    }

    .query-generation-operator {
      flex: 0.1;
    }
    .query-generation-submit {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.query-card-inner {
    position: relative;
    box-shadow: $drop-shadow;
    border: $drop-shadow-border;
    border-radius: 0.4em;
    background-color: $white;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8em;
    gap: 1em;
    font-size: 0.95em;
    width: 100%;
}
