@import 'src/styles/colors';
@import 'src/styles/variables';
@import 'src/styles/global';
.panel-nav-bar {
  color: $placeholder-grey;

  .back {
    cursor: pointer;
    display: flex;
    gap: 0 5px;
    align-items: center;
  }

  .panel-time-pickers {
    display: flex;
    gap: 0.3em;
    font-size: 1.4em;
    & > * {
      background-color: $white;
      color: $dark-blue;
    }
  }
}

.vista-panel-container-grid {
  height: 100%;
  width: 100%;

  display: grid;

  grid-template:
    'dc dc sel sel sel' 1fr
    'gr gr gr gr gr' 1fr / 1fr 1fr 1fr 1fr 1fr;
  gap: 0.4em;

  .item {
    border-radius: 0.2em;
    background-color: $white;
    border: $drop-shadow-border;
    box-shadow: $drop-shadow;
    padding: 0.6em;
    display: flex;
    flex-direction: column;
  }

  .available-data-channels {
    grid-area: dc;
  }

  .panel-result-graph-wrapper {
    padding: 0em;
    grid-area: gr;
  }

  .query-selection {
    grid-area: sel;
  }
}
