@import 'src/styles/colors';

.ui-radio {
  cursor: pointer;
  $size: 1em;
  border: 0.15em solid $placeholder-grey;
  padding: 0.15em;
  border-radius: 50%;

  width: $size;
  height: $size;

  &.checked {
    color: $dark-blue;
    border-color: $dark-blue;

    .inner {
      background-color: $dark-blue;
    }
  }
  &:focus-visible {
    outline: $teal 2px solid;
  }

  .inner {
    color: inherit;
    background-color: inherit;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
