@import 'src/styles/colors';

.ui-radio {
  position: relative;
  cursor: pointer;
  $size: 1.1em;
  border: 0.2em solid $placeholder-grey;
  border-radius: 50%;

  width: $size;
  height: $size;

  &.checked {
    color: $dark-blue;
    border-color: $dark-blue;

    &::before {
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      clip-path: circle(30%);
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: $dark-blue;
    }
  }
  &:focus-visible {
    outline: $teal 2px solid;
  }
}
