@import 'src/styles/global';
@import 'src/styles/colors';

.data-channel-selection {
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  a {
    margin: 0 auto;
  }

  .excluded {
    opacity: 0.4;
  }

  .data-channel-card-wrapper {
    font-size: 0.8em;
  }
}
