@import 'src/styles/colors';
@import 'src/styles/global';
.ui-dropdown {
  position: absolute;
  z-index: 1000;
  background-color: $white;
  border-radius: 0.2em;
  overflow: auto;

  max-height: 50vh;

  box-shadow: $intense-drop-shadow;
  border: $drop-shadow-border;
}
