@import 'src/styles/colors';

.vessel-result-bar {
  color: $placeholder-grey;
  .back {
    cursor: pointer;
    display: flex;
    gap: 0 5px;
    align-items: center;
  }
}

.vmod-container {
  height: 100%;
  background-color: $white;
  padding: 1em;
  border-radius: 5px;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
  }

  .mode-selection {
    font-size: 0.9em;
  }
}
