@import 'src/styles/colors';
@import 'src/styles/global';

html {
  $base-font-size: 18px;
  font-size: $base-font-size;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $bg-grey;
  color: $dark-blue;

  overflow: hidden;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &:visited {
    color: inherit;
  }
}

.vista-brandmark {
  $size: 2em;
  width: $size;
  height: $size;

  position: absolute;
  transform: translate(-100%, -0.2rem);
  left: -0.5rem;
}

.vista-toast-anchor {
  position: absolute;
  z-index: 10000;
  bottom: 5%;
  right: 5%;

  display: flex;
  flex-direction: column-reverse;
  gap: 0.5em;

  .vista-toast {
    animation: slidein 0.1s linear;
    border-radius: 0.2em;
    box-shadow: $intense-drop-shadow;
    max-width: 13em;
    word-wrap: break-word;

    & > * {
      padding: 0.3em 0.6em;
    }

    &.success {
      background-color: $good;
      border: 1px solid $green;

      .toast-title {
        box-shadow: 0 2px 0px 0px #05640069;
      }
    }

    &.warning {
      background-color: $warning;
      .toast-title {
        box-shadow: 0 2px 0px 0px #64580069;
      }
    }

    &.danger {
      background-color: $danger;
      .toast-title {
        box-shadow: 0 2px 0px 0px #64000069;
      }
    }

    .toast-title {
      font-size: 0.8em;
      font-weight: 600;
    }

    @keyframes slidein {
      from {
        transform: translateY(-50%);
      }

      to {
        transform: translateY(0);
      }
    }
  }
}
